{% load staticfiles %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ meta_title.title }}</title>
    <meta name="keywords"  content="{{ meta_title.keywords }}">
    <meta name="description" content="{{ meta.description }}">
    <meta name="author" content="maxkaliberda1@gmail.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    {% if  meta_title.img.url %}
        <link rel="shortcut icon" type="image/x-icon" href="{{ meta_title.img.url }}" />
    {% endif %}
    <link rel="apple-touch-startup-image" href="splash-screen.png" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/callform.css' %}"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet" media="all">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <link rel="stylesheet" href="{% static 'pl/font-awesome-4.7.0/css/font-awesome.min.css' %}"/>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/js.js' %}"></script>
</head>
<body>
<div class="visible-xs top-mob">
    <div class="arrow-menu text-center">
        <img class="img-top-ar" src="{% static 'img/down-white.png' %}">
    </div>
</div>
<div class="menu visible-md visible-lg">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-1">
            </div>
            {% for phone in phones %}
                <div class="col-lg-2 col-md-3">
                    <a class="phone-nav" href="tel:{{ contact.phone }}"><i class="fa fa-phone"></i>{{ phone.phone }}</a>
                </div>
            {% endfor %}
            <div class="col-lg-2 col-md-2 text-center" style="">
                <form id='lang_uk' action='/i18n/setlang/' style="display: inline" method='POST'>{% csrf_token %}
                    <input type='hidden' name='language' value='uk'/>
                    <a  class="lang-change" href='#' title='Ukraine' onclick="document.getElementById('lang_uk').submit()">
                        <img class="lang" src="{% static 'img/Ukraine_flat.png' %}" alt="uk">
                    </a>
                </form>
                <form class="cart-notification-wrap" style="display: inline" id='lang_ru' action='/i18n/setlang/' method='POST'>
                    {% csrf_token %}
                    <input type='hidden' name='language' value='ru'/>
                    <a class="lang-change" href='#' title='Russian' onclick="document.getElementById('lang_ru').submit()">
                        <img class="lang" src="{% static 'img/Russia.png' %}" alt="ru">
                    </a>
                </form>
                <form id='lang_en' action='/i18n/setlang/' style="display: inline" method='POST'>{% csrf_token %}
                    <input type='hidden' name='language' value='en'/>
                    <a  class="lang-change" href='#' title='English' onclick="document.getElementById('lang_en').submit()">
                        <img class="lang" src="{% static 'img/United-Kingdom.png' %}" alt="en">
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>
<nav id = "nav" class="navbar navbar-custom">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle  grey-bdr collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="grey-bg icon-bar"></span>
                <span class="grey-bg icon-bar"></span>
                <span class="grey-bg icon-bar"></span>
            </button>
            <a id = "navbar_l" class="navbar-brand" href="{% url 'home' %}">
                <img class="img-log" src="{% static 'img/logocdc.png' %}"/>
            </a>
        </div>
        <nav  id="navbar" class="collapse navbar-collapse">
            <ul   class="nav navbar-nav">
                <li class=" text-center">
                    <a href="{% url 'home' %}" class="nav-but">{% trans "ГЛАВНАЯ" %}
                        <div class="visible-lg visible-md magic-line"></div>
                    </a>
                </li>
                <li class="text-center">
                    <a href="{% url 'projects' 'all' 1 %}" title="{% trans "ПРОЕКТЫ" %}" class="nav-but">{% trans "ПРОЕКТЫ" %}
                        <div class="visible-lg visible-md magic-line"></div>
                    </a>
                </li>
                <li class="text-center">
                    <a href="{% url 'service' %}" class="nav-but">{% trans "УСЛУГИ" %}
                        <div class="visible-lg visible-md magic-line"></div>
                    </a>
                </li>
                <li class="text-center">
                    <a href="{% url 'price' 365 %}" class="nav-but">{% trans "ЦЕНЫ" %}
                        <div class="visible-lg visible-md magic-line"></div>
                    </a>
                </li>
                <li class="text-center">
                    <a href="{% url 'articles' 'all' 1 %}" class="nav-but">{% trans "НОВОСТИ" %}
                        <div class="visible-lg visible-md magic-line"></div>
                    </a>
                </li>
                <li class=" text-center">
                    <a href="{% url 'contact' %}" class="nav-but">{% trans "КОНТАКТЫ" %}
                        <div class="visible-lg visible-md magic-line"></div>
                    </a>
                </li>
            </ul>
        </nav><!--/.nav-collapse -->
    </div>
</nav>
{% block content %}
{% endblock%}
<div class="container mt-20 mb-20 main-form-contact">
    <h2 class="text-center">{{ massage_form.head_preview }}</h2>
    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">
        <p class="mt-20 mb-20 text-center call-back-text">
            {{ massage_form.text_preview }}
        </p>
    </div>
    <div class="col-lg-12 col-md-12">
        <!-- Contact FORM -->
        <!-- Contact FORM -->
        <form name="form-name" class="contact-form" id="contact" role="form" method="POST">
            {% csrf_token %}
            <!-- IF MAIL SENT SUCCESSFULLY -->
            <h6 class="successContent">
                <i class="fa fa-check left" style="color: #5cb45d;"></i>Your message has been sent successfully.
            </h6>
            <!-- END IF MAIL SENT SUCCESSFULLY -->
            <!-- MAIL SENDING UNSUCCESSFULL -->
            <h6 class="errorContent">
                <i class="fa fa-exclamation-circle left" style="color: #e1534f;"></i>There was a problem validating the form please check!
            </h6>
            <!-- END MAIL SENDING UNSUCCESSFULL -->
            <div class="form-field-wrapper col-lg-4 col-md-4">
                <input class="input-md form-full" id="form-name" type="text" name="form-name" placeholder="Ваше Имя" required>
            </div>
            <div class="form-field-wrapper col-lg-4 col-md-4">
                <input class="input-md form-full" id="form-email" type="email" name="form-email" placeholder="Ваш Email" Email required>
            </div>
            <div class="form-field-wrapper col-lg-4 col-md-4">
                <input class="input-md form-full" id="form-phone" type="text" name="form-phone" placeholder="Ваш Телефон" Phone required>
            </div>
            <div class="form-field-wrapper col-lg-12 col-md-12">
                <input class="input-md form-full" id="form-subject" type="text" name="form-subject" placeholder="Тема письма">
            </div>
            <div class="form-field-wrapper col-lg-12 col-md-12">
                <textarea class="form-full" id="form-message" rows="7" name="form-message" placeholder="Напишите нам" ></textarea>
            </div>
            <div class="text-center">
                <button  class="btn btn-md btn-black" type="submit" id="form-submit" name="submit">{% trans "Отправить сообщение" %}</button>
            </div>
        </form>
            <!-- END Contact FORM -->
    </div>
</div>
<div class="botton " id="top"><img src="{% static 'img/top1.png' %}"/></div>
<a class="botton" href="#" data-toggle="modal" data-target="#modalhome" id="popup__toggle">
    <div class="call-mt visible-xs visible-sm">
        <i class="fa fa-phone fa-2x"></i>
    </div>
</a>
<div class="log-in visible-lg visible-md">
    <a class="call-but" href="#" data-toggle="modal" data-target="#modalhome" id="popup__toggle">
        <div class="circlephone" style="transform-origin: center;"></div>
        <div class="circle-fill" style="transform-origin: center;"></div>
        <div class="img-circle" style="transform-origin: center;">
            <div class="img-circleblock" style="transform-origin: center;"></div>
        </div>
    </a>
</div>
<div class="modal fade" id="modalhome" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body row">
            <div class="col-lg-3 col-md-3 text-center">
                <img class="img-cont-form" src="{% static 'img/operator.png' %}"/>
            </div>
            <div class="col-lg-9 col-md-9">
                <h3 class="head-contact text-center mb-20">{{ call_form.text_preview }}</h3>
                <form name="feed" class="text-center contact-form" id="feed" role="form" method="POST">
                    {% csrf_token %}
                    <h6 class="successContent">
                        <i class="fa fa-check left" style="color: #5cb45d;"></i>Your message has been sent successfully.
                    </h6>
                    <h6 class="errorContent">
                        <i class="fa fa-exclamation-circle left" style="color: #e1534f;"></i>There was a problem validating the form please check!
                    </h6>
                    <div class="feed-field-wrapper hide">
                        <input class="input-sm form-full phone-nb-in" type="text" name="feed-link" value="{{ request.get_full_path }}" required>
                    </div>
{#                    <div class="col-lg-12 text-center" style="display: inline">#}
                    <input class="input-md phone-nb-in" type="text" name="feed-phone" placeholder="380" required>
                    <button class="btn btn-subcat" type="submit" name="feed" id="cll">{% trans "Заказать звонок" %}</button>
{#                    </div>#}
                </form>
            </div>
        </div>
    </div>
    </div>
</div>
<footer>
    <div class="container">
        <div class="row foter-adr text-center">
            <div class="col-lg-2 col-lg-offset-1 col-md-2 col-md-offset-1">
                <img class="mt-30" src="{% static 'img/logocdc.png' %}"/>
            </div>
            <div class="col-lg-2 col-md-2">
                 <ul   class="nav">
                    <li class=" text-center">
                        <a href="{% url 'home' %}" class="foot-but">{% trans "ГЛАВНАЯ" %}
                        </a>
                    </li>
                    <li class="text-center">
                        <a href="{% url 'projects' 'all' 1 %}" title="{% trans "ПРОЕКТЫ" %}" class="foot-but">{% trans "ПРОЕКТЫ" %}
                        </a>
                    </li>
                    <li class="text-center">
                        <a href="{% url 'service' %}" class="foot-but">{% trans "УСЛУГИ" %}
                        </a>
                    </li>
                     <li class="text-center">
                        <a href="{% url 'price' 365 %}" class="foot-but">{% trans "ЦЕНЫ" %}
                        </a>
                    </li>
                    <li class="text-center">
                        <a href="{% url 'articles' 1 1 %}" class="foot-but">{% trans "НОВОСТИ" %}
                        </a>
                    </li>
                    <li class=" text-center">
                        <a href="{% url 'contact' %}" class="foot-but">{% trans "КОНТАКТЫ" %}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3">
                 <ul   class="nav">
                  {% for phone in phones %}
                    <li class="text-center">
                        <a href="tel:{{ phone.phone }}" title="{{ phone.phone }}" class="foot-but">
                            <i class="fa fa-phone"></i>{{ phone.phone }}
                        </a>
                    </li>
                  {% endfor %}
                 {% for email in email %}
                    <li class="text-center">
                        <a href="mail:{{ email.email }}" title="{{ email.email }}}" class="foot-but">
                             <i class="fa fa-envelope"></i>{{ phone.phone }}
                            {{ email.email }}
                        </a>
                    </li>
                  {% endfor %}
                </ul>
            </div>
            <div class="col-md-4">
                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.7130154902875!2d30.523297315731117!3d50.44644597947481!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce540e2b7079%3A0xc9c5c8341ef2900c!2z0LLRg9C70LjRhtGPINCX0LDQvdGM0LrQvtCy0LXRhtGM0LrQvtGXLCA1LzIsINCa0LjRl9Cy!5e0!3m2!1sru!2sua!4v1498770082366"
                            width="100%" height="170px" frameborder="0" style="border:0" allowfullscreen></iframe>
                    <!-- END Contact FORM -->
                </div>
            </div>
        </div>
    </div>
</footer>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.18/jquery.touchSwipe.min.js"></script>
        <!-- Bootstrap bootstrap-touch-slider Slider Main JS File -->
        <script src="{% static 'js/bootstrap-touch-slider.js' %}"></script>
        <script type="text/javascript">
            $('#bootstrap-touch-slider').bsTouchSlider();
        </script>
</body>
</html>